article > header {
	margin-top: 1in;
	margin-bottom: 2em;
	text-align: center;
}

article > header h1.title {
	font-size: 200%;
	margin: 0;
}

article > header h2.subtitle {
	margin: 0;
	font-weight: lighter;
	font-style: italic;
}

article p {
	text-align: justify;
}

article p:first-of-type:first-letter {
	font-size: 200%;
	font-weight: 900;
	float: left;
	padding-right: 0.25em;
	padding-left: 0.2em;
}
