section#body > header {
}

section#body > section {
	margin-top: 1em;
	margin-bottom: 1em;
}

section#body > section:first-of-type {
	margin-top: 0;
}

section#body > section:last-of-type {
	margin-bottom: 0;
}

section.sub-position {
	margin-top: 1em;
	margin-bottom: 1em;
}

.nlt-style .name + .title {
	font-style: italic;
	font-weight: normal;
}

section.sub-position > header {
	margin-bottom: 0.5em;
}

section.sub-position > main {
	font-size: 95%;
	text-align: justify;
}
