<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="version" content="<%= VERSION %>" />

		<meta name="theme-color" content="#08519c" />
		<meta name="author" content="Kristofer Rye" />

		<title>Kristofer Rye</title>
	</head>

	<body>
	</body>
</html>
