<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="version" content="<%= VERSION %>" />

		<meta name="theme-color" content="#728da5" />
		<meta name="author" content="Kristofer Rye" />
		<meta name="description" content="Kristofer Rye" />
		<meta name="keywords" content="Kristofer,Rye,Kris,Programmer,Developer,Ruby,HTML,CSS,JavaScript,Sass,Rails,Private,Pilot,Cello" />

		<title>Kristofer Rye</title>
	</head>

	<body>
	</body>
</html>
