@font-face {
	font-family: 'Alfa Slab One';
	src: url(AlfaSlabOne-Regular.ttf);
}

@font-face {
	font-family: 'Fira Sans';
	src: url(FiraSans-Regular.ttf);
}

@font-face {
	font-family: 'Fira Sans';
	font-weight: bold;
	src: url(FiraSans-Bold.ttf);
}

@font-face {
	font-family: 'Fira Sans';
	font-style: italic;
	src: url(FiraSans-Italic.ttf);
}
