html,
body {
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
	color: var(--color-2);
}

a,
a:visited {
	color: inherit;
}

header {
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100vh;
	background-color: var(--color-primary-lighter);
	color: var(--color-primary-darker);
	text-align: center;
}

header > .name {
	font-family: 'Alfa Slab One', serif;
	font-size: 3.5em;
}

header > .name span.aux { color: var(--color-primary-dark); }

header > .tagline {
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}

header > .tagline > span.item.bigger { font-size: 1.25em; }

header > .tagline > span::after {
	font-size: var(--tagline-font-size);
	content: " " attr(data-separator);
}

header > .tagline > span:last-child:after {
	content: "";
}

@media screen and (max-width: 512px) {
	header > .name .aux {
		display: none;
	}

	header > .tagline {
		display: none;
	}
}

section {
	padding: 0 1em 0 1em;
	margin: 2em auto 2em auto;
}

@media screen and (min-width: 768px) {
	section {
		/* 2 * 1em == sum of LR padding on section */
		min-width: calc(768px - 2 * 1em);
		max-width: 50vw;
	}
}
