html,
body {
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
	color: var(--color-2);
}

a,
a:visited {
	color: inherit;
}

header {
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100vh;
	background-color: var(--color-primary-lighter);
	color: var(--color-primary-darker);
	text-align: center;
}

header > .name {
	font-family: 'Alfa Slab One', serif;
	font-size: 3.5em;
}

header > .name span.aux { color: var(--color-primary-dark); }

header > .tagline {
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}
