<!doctype html>
<html>
	<head>
		<link rel="dns-prefetch" href="https://fonts.googleapis.com./">
		<link rel="dns-prefetch" href="https://www.google-analytics.com./">
		<link rel="dns-prefetch" href="https://use.fontawesome.com./">
		<link rel="dns-prefetch" href="https://api.krye.io./">
		<link rel="preconnect" href="https://use.fontawesome.com./">
		<link rel="preconnect" href="https://fonts.googleapis.com./">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% for stylesheet in layout.stylesheets %}
		{{ stylesheet }}
		{% endfor %}
		{% for stylesheet in page.stylesheets %}
		{{ stylesheet }}
		{% endfor %}

		<meta name="theme-color" content="#728da5" />
		<meta name="author" content="Kristofer Rye" />
		<meta name="keywords" content="Kristofer,Rye,Kris,Programmer,Developer,Ruby,HTML,CSS,JavaScript,Sass,Rails,Private,Pilot,Cello,Cellist" />
		<meta name="version" content="0.0.0" />
		{% if page.title %}
		<meta name="title" content="{{ page.title }}" />
		{% endif %}
		{% if page.description %}
		<meta name="description" content="{{ page.description }}" />
		{% endif %}

		<link rel="icon" sizes="64x64" href="{{ site.baseurl }}/favicon-64px.png">
		<link rel="icon" sizes="128x128" href="{{ site.baseurl }}/favicon-128px.png">
		<link rel="icon" sizes="256x256" href="{{ site.baseurl }}/favicon-256px.png">

		<title>{{ page.title }}</title>
	</head>

	<body>
		{{ content }}
	</body>
</html>
