<!doctype html>
<html>
	<head>
		<link rel="preconnect" href="//use.fontawesome.com/">
		<link rel="preconnect" href="//fonts.googleapis.com/">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{{ site.baseurl }}/global.css">
		{% for stylesheet in layout.stylesheets %}
		{{ stylesheet }}
		{% endfor %}
		{% for stylesheet in page.stylesheets %}
		{{ stylesheet }}
		{% endfor %}

		<meta name="theme-color" content="#728da5" />
		<meta name="author" content="Kristofer Rye" />
		<meta name="description" content="Kristofer Rye" />
		<meta name="keywords" content="Kristofer,Rye,Kris,Programmer,Developer,Ruby,HTML,CSS,JavaScript,Sass,Rails,Private,Pilot,Cello,Cellist" />
		<meta name="version" content="0.0.0" />

		<link rel="icon" sizes="64x64" href="{{ site.baseurl }}/favicon-64px.png">
		<link rel="icon" sizes="128x128" href="{{ site.baseurl }}/favicon-128px.png">
		<link rel="icon" sizes="256x256" href="{{ site.baseurl }}/favicon-256px.png">

		<title>{{ page.title }}</title>
		<link rel="dns-prefetch" href="//fonts.googleapis.com./">
		<link rel="dns-prefetch" href="//www.google-analytics.com./">
		<link rel="dns-prefetch" href="//use.fontawesome.com./">
		<link rel="dns-prefetch" href="//api.krye.io./">
	</head>

	<body>
		{{ content }}

		<!-- Load Google Analytics -->
		<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','UA-77379897-1','auto');ga('send','pageview');ga('send','event',{'eventCategory':'Page','eventAction':'VersionRegister'})</script>
	</body>
</html>
